<!DOCTYPE html>
<html>
  <html>
	<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>vis</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <!-- end CSS-->

  <script src="./js/libs/modernizr-2.0.6.min.js"></script>
  </head>
	    </script>
	</head>
  <body>


	  <div id="container" class="container">
	  <header>
	    <h1 style="font-weight: 300; text-align: center; color:white">How "climate change" compare</h1>
	    <h1 style="font-weight: 300; text-align: center; color:white">to other search topics?</h1>
	  </header>

    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
          <li><a href="#"><img src="./images/new-google-favicon-logo.png" ></a></li>
          <li><a href="#"><img src="./images/quora-128.png" ></a></li>
      </ul>
    </nav>

    <div class="row">
      <div class ="span8 offset4">
        <h2 id="book-title"></h2>
      </div>
    </div>

    <div id="main" role="main">
    <div id="vis"></div>
    </div>
    <footer>
    <p><a href = "#url">Data source (March. 2016)</a> | <a href ="#url"> Collaborator: Ajay Revels </a></p>
	  </footer>
	  </div>



	  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>


	  <script defer src="js/plugins.js"></script>
	  <script src="js/libs/coffee-script.js"></script>
	  <script src="js/libs/d3.min.js"></script>
	  <script type="text/coffeescript" src="./coffee/vis.coffee"></script>
	  <script src="js/libs/jquery-1.7.2.min.js"></script>
    <!-- <script>
    $(document).ready(function() {
      $("li").click(function () {

          console.log("1111");
          $("li").removeClass("active");
          console.log("AAAA");
          // $(".tab").addClass("active"); // instead of this do the below
          $(this).addClass("active");
          console.log("BBBB");
        });
    });
   </script> -->
  </body>
</html>
