<!DOCTYPE html>
<html>
  <html>
	<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>vis</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" integrity="sha384-XXXXXXXX" crossorigin="anonymous"></script>
  <!-- end CSS-->

  <script src="./js/libs/modernizr-2.0.6.min.js"></script>
  </head>
	    </script>
	</head>
  <body>


	  <div id="container" class="container">
	    <header>
	    <h1 style="font-weight: 300; text-align: center; color:white">How "climate change" compare</h1>
	    <h1 style="font-weight: 300; text-align: center; color:white">to other search topics?</h1>

	    </header>


    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
          <li><a id="first" href="#"><img src="./images/quora-128.png" ></a></li>
          <li><a id="second" href="#"><img src="./images/new-google-favicon-logo.png" ></a></li>
      </ul>
    </nav>


		<!-- <ul class="nav nav-pills">
		  <li value="sherlock">Google trends topic ranking</a></li>
		  <li value="aesop">Quora Topic Ranking</a></li>
		</ul> -->

	    <div id="main" role="main">
	    <div id="vis"></div>
	    </div>
	    <footer>
      <p><a href = "#url">Data source (March. 2016)</a> | <a href ="#url"> Collaborator: Ajay Revels </a></p>

	    <!-- <p><a href="http://vallandingham.me/building_a_bubble_cloud.html">Blog Post</a> | <a href="https://github.com/vlandham/bubble_cloud">Source Code</a> | <a href="http://www.nytimes.com/interactive/2012/09/04/us/politics/democratic-convention-words.html">Original Inspiration</a></p> -->
	    </footer>
	  </div>



	  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>


	  <script defer src="js/plugins.js"></script>
	  <script src="js/libs/coffee-script.js"></script>
	  <script src="js/libs/d3.min.js"></script>
	  <script type="text/coffeescript" src="./coffee/vis.coffee"></script>
	  <script type="text/javascript">
	  </script>

  </body>
</html>
